.explore-main{
    min-height: 100vh;

    .explore-container{

        .explore-top_container{
            border: 2px solid black;
            display: flex;
            margin-bottom: 30px;


            .explore-top-container-inner{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-direction: column;
                gap: 20px;
                padding: 30px 0;
                border: 1px solid black;

                .input-container{
                    width: 60%;
                   

                    .input-textarea{
                        width: 100%;
                        height: 100px;
                        border: 1px solid gray;
                        border-radius: 8px;
                        padding: 10px;
                        resize: none; 
                        text-align: left;
                        vertical-align: top;
                        font-size: 18px;
                    }
                }
            }
        }

        .explore-bottom_container{
            .explore-bottom_container_generated{
                margin: 10px 0;
                padding: 20px 0;
            }
            .explore-bottom_container_category{
                background: var(--sm-text);
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
            .explore-bottom_container_food{
                margin: 10px 0;
                padding-bottom: 40px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;
                align-items: center;
            }
        }
    }
}

@media (max-width:480px) {
    
}
